DEPLOYMENT_PRIVATE_KEY=123123123131
ANKR_PROJECT_KEY=sa123123123123
ETHERSCAN_API_KEY_POLYGON=dqweqdasda
ETHERSCAN_API_KEY_BSC=dsadasdasde21ed
ETHERSCAN_API_KEY_ARB=sadasdqweqwdasda
ALCHEMY_URL=safasdqwdasdas